<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <%- include(`${rootPath}/javascript.ejs`) %>
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/homepage.css" />
    <link rel="stylesheet" href="/css/lib/sweetalert2.min.css" />
    <!-- <link rel="stylesheet" href="/css/lib/summernote-file.css" /> -->

    <title>오픈소스 커뮤니티</title>
  </head>
  <body>
    <div id="wrap">
      <%- include (`${rootPath}/components/header.ejs`) %>
      <div id="main">
        <%- include (`${rootPath}/components/side-menu.ejs`) %>
        <div id="container" class="private">
          <div class="homepage_area">
            <div class="homepage_top">
              <div class="homepage_name">
                <div class="home_main">
                  <button>플랫폼 홈페이지</button>
                  <button class="setting_btn"><img src="/assets/setting_icon_03.png" alt="세팅"></button>
                </div>
                <div class="home_info">
                  <p>생성일 : <span>2022-10-25</span></p>
                  <p>가입일 : <span>2022-10-25</span></p>
                  <p>회원수 : <span>254명</span></p>
                </div>
              </div>
              <div class="homepage_btn">
                <button class="private_btn">Private</button>
                <button class="public_btn">Public</button>
              </div>
            </div>
          <div class="homepage_board">
            <div class="board_con board_view">
              <div class="title">
                <ul class="board_route">
                  <li>
                    <a href="./private_tab_user.html">
                      <img src="/assets/route_home_icon.png" alt="메인으로" />
                      플랫폼 홈페이지</a
                    >
                  </li>
                  <li><a href="#">게시판</a></li>
                </ul>
                <ul class="view_list">
                  <li>
                    <button><img src="/assets/list_icon_02.png" alt="목록" /></button>
                  </li>
                  <li>
                    <button><img src="/assets/left_arrow.png" alt="이전글" /></button>
                  </li>
                  <li>
                    <button><img src="/assets/right_arrow.png" alt="다음글" /></button>
                  </li>
                  <li>
                    <button><img src="/assets/share_icon.png" alt="공유" /></button>
                  </li>
                  <li>
                    <button><img src="/assets/pin_icon.png" alt="스크랩" /></button>
                  </li>
                </ul>
              </div>

              <div class="view_area">
                <div class="view_tit">
                  <div class="txt">
                    <h3>[알림] 오픈 소스 커뮤니티 플랫폼이 새로 오픈했습니다.</h3>
                  </div>
                  <div class="rating_con">
                    <ul>
                      <li class="rating_r">1</li>
                      <li class="rating_r">2</li>
                      <li class="rating_p">3</li>
                      <li class="rating_p">4</li>
                      <li class="rating_b">5</li>
                      <li class="rating_b">6</li>
                    </ul>
                  </div>
                </div>

                <div class="view_top">
                  <div class="view_info">
                    <div class="writer">
                      <span>김생성</span>
                    </div>
                    <div class="date">
                      <span>2022-08-19</span>
                    </div>
                    <div class="views">
                      <span>조회 <span>688</span></span>
                    </div>
                    <div class="comment">
                      <span>댓글 <span>688</span></span>
                    </div>
                    <div class="like">
                      <img src="/assets/like_icon_01.png" alt="좋아요" />
                      <span>좋아요 <span>688</span></span>
                    </div>
                  </div>
                  <div class="comment_move">
                    <button><img src="/assets/comment_icon_02.png" alt="댓글보기" />댓글보기</button>
                  </div>
                </div>

                <div class="view_text">
                  <p>
                    안녕하세요. 회원 여러분. <br />
                    <br />
                    오픈 소스 커뮤니티 플랫폼 홈페이지의 오픈 공지사항을 전달드립니다. <br />많은 관심과 사랑 부탁드리며, 회원 업그레이드를 원하시는 분들은
                    따로 신청해 주시길 바랍니다. <br />
                    <br />
                    우리 홈페이지는 다양한 정보와 새로운 이슈를 전달하며 서로 의견을 주고 받는 뜻깊은 홈페이지입니다. <br />
                    <br />
                    모두를 위한 소식을 홈페이지를 통해 지속적으로 공유하겠습니다.<br />
                    <br />
                    감사합니다.
                  </p>
                </div>

                <div class="view_file">
                  <a href="#"> <img src="/assets/file_icon_01.png" alt="첨부파일" />오픈 소스 커뮤니티 플랫폼 오픈 공지 안내서.pdf (20 MB)</a>
                  <button class="downloads" title="다운로드현황">다운로드 : 50회 / 12명</button>
                </div>

                <div class="view_hastag">
                  <ul>
                    <li><button class="active"># 오픈소스</button></li>
                    <li><button># 커뮤니티</button></li>
                    <li><button># 플랫폼</button></li>
                    <li><button># 홈페이지</button></li>
                  </ul>
                </div>
              </div>

              <div class="view_comment">
                <div class="comment_top">
                  <div class="tit">
                    <img src="/assets/comment_icon_02.png" alt="댓글" />
                    <button>
                      댓글
                      <img src="/assets/down_arrow.png" alt="접기버튼" />
                    </button>
                  </div>
                  <ul class="view_list">
                    <div class="like">
                      <img src="/assets/like_icon_01.png" alt="좋아요" />
                      <span>좋아요 153</span>
                    </div>
                    <li>
                      <button><img src="/assets/list_icon_02.png" alt="목록" /></button>
                    </li>
                    <li>
                      <button><img src="/assets/left_arrow.png" alt="이전글" /></button>
                    </li>
                    <li>
                      <button><img src="/assets/right_arrow.png" alt="다음글" /></button>
                    </li>
                    <li>
                      <button><img src="/assets/share_icon.png" alt="공유" /></button>
                    </li>
                    <li>
                      <button><img src="/assets/pin_icon.png" alt="스크랩" /></button>
                    </li>
                  </ul>
                </div>
                <!-- <div class="comment_tab">
                  <button class="active">내부 댓글</button>
                  <button>외부 댓글</button>
                </div> -->

                <div class="comment_text_area">
                  <div class="comment_text">
                    <div class="writer">
                      <span><%=session.nick%></span>
                      <img src="/assets/user_class-1.png" alt="" />
                    </div>
                    <div class="txt">
                      <textarea rows="10" placeholder="댓글을 입력하거라."></textarea>
                    </div>
                    <div class="text_button">
                      <div class="upload">
                        <button><img src="/assets/img_icon.png" alt="이미지첨부" /></button>
                        <button><img src="/assets/link_icon.png" alt="링크첨부" /></button>
                      </div>
                      <div class="comment_add">
                        <button>등록</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="comment_area">
                  <ul>
                    <li class="comment_con my_comment">
                      <div class="writer">
                        <span>김생성</span>
                        <img src="/assets/user_class-1.png" alt="" />
                      </div>
                      <div class="comment_box">
                        <div class="txt">
                          <p>저희 홈페이지는 다양한 정보와 새로운 이슈를 전달하며 서로 의견을 주고 받는 뜻깊은 홈페이지입니다. 많은 관심 부탁드립니다.</p>
                        </div>
                        <div class="comment_date">
                          <span>2022.08.19</span><span>10:05</span>
                          <button>댓글달기</button>
                        </div>
                      </div>
                    </li>

                    <li class="comment_con user_comment">
                      <div class="writer">
                        <span>나멤버</span>
                        <img src="/assets/user_class-a.png" alt="" />
                      </div>
                      <div class="comment_box">
                        <div class="txt">
                          <p>생성자님 홈페이지 가입사항에 대한 공지 부탁드리겠습니다.</p>
                        </div>
                        <div class="comment_date">
                          <span>2022.08.19</span><span>10:05</span>
                          <button>댓글달기</button>
                        </div>
                      </div>
                    </li>

                    <li class="comment_con my_comment">
                      <div class="writer">
                        <span>김생성</span>
                        <img src="/assets/user_class-1.png" alt="" />
                      </div>
                      <div class="comment_box">
                        <div class="reply_con">
                          <div class="reply_user">
                            <span>나멤버에게 답장</span>
                            <button>댓글달기</button>
                          </div>
                          <div class="reply_txt">
                            <p>생성자님 홈페이지 가입사항에 대한 공지 부탁드리겠습니다.</p>
                          </div>
                        </div>
                        <div class="txt">
                          <p>
                            네. 확인 후 공지 띄우도록 하겠습니다. 회원가입말고 또 필요한 사항이 있는 지 확인 부탁드리겠습니다. 회원가입 및 등급절차에 대해
                            공지 띄우도록 하겠습니다.
                          </p>
                        </div>
                        <div class="comment_date">
                          <span>2022.08.19</span><span>10:05</span>
                          <button>댓글달기</button>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="post_list">
                <table cellspacing="0">
                  <tbody>
                    <tr class="next">
                      <td class="next_post">다음글</td>
                      <td class="post_number">3</td>
                      <td class="post_title">
                        <a href="#">[공지]오픈소스 커뮤니티 플랫폼 오픈 공지사항 전달드립니다.</a>
                      </td>
                      <td class="post_date">2022-07-10</td>
                    </tr>

                    <tr class="prev">
                      <td class="prev_post">이전글</td>
                      <td class="post_number">1</td>
                      <td class="post_title">
                        <a href="#">[공지]오픈소스 커뮤니티 플랫폼 오픈 공지사항 전달드립니다.</a>
                      </td>
                      <td class="post_date">2022-07-10</td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="btn_area">
                <button class="delete_btn">삭제</button>
                <button class="change_btn">수정</button>
                <button class="list_btn">목록</button>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="/js/community/private/board/detail.js"></script>
    <script type="text/javascript" src="/js/lib/sweetalert2.min.js"></script>
    <script type="text/javascript" src="/js/utils/format.js"></script>
    <script>
      const communityId = "<%=communityId%>"
      const privateId = "<%=privateId%>"
      const index = "<%=index%>"
    </script>
  </body>
</html>
